body {
  background-color: #ccffff;

}

body{
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
} 
h1 {
	color: #444444;
	margin: 50px auto 30px;
	text-align: center;
} 
h3 {color: #444444;
	margin-bottom: 50px;
}

p {font-size: 14px;
	color: #888;
	margin-bottom: 10px;
}

table {
  	border: 2px solid lightblue;
  	width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid lightblue;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: courier;
  font-size: 20px;
}
#ocupado1 {
	color: red;
}
#libre1 {
	color: green;
}
#ocupado2 {
	color: red;
}
#libre2 {
	color: green;
}
#ocupado3 {
	color: red;
}
#libre3 {
	color: green;
}
#ocupado4 {
	color: red;
}
#libre4 {
	color: green;
}
#titulo{
	background-color: #99ccff;
}
tr:hover {background-color:#ffffff;}